@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Roboto Condensed', sans-serif;
}

  #float-label label {
    position: absolute;
    transform: translate(20px, 20px) scale(0.7);
    transform-origin: top left;
    transition: all 0.2s ease-out;
    letter-spacing: 2px;
  }

  #float-label:focus-within label {
    transform: translate(10px, 5px) scale(0.5);
    font-weight: bold;
    letter-spacing: 2px;
  }

  #float-label:focus-within input {
    background-color: #fafafa;
  }

  #float-label .Active {
    transform: translate(10px, 5px) scale(0.5);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
  }

  #float-label2 label {
    position: absolute;
    transform: translate(20px, 20px) scale(0.7);
    transform-origin: top left;
    transition: all 0.2s ease-out;
    letter-spacing: 2px;
  }

  #float-label2:focus-within label {
    transform: translate(10px, 5px) scale(0.5);
    font-weight: bold;
    letter-spacing: 2px;
  }

  #float-label2:focus-within input {
    background-color: #fafafa;
  }

  #float-label2 .Active {
    transform: translate(10px, 5px) scale(0.5);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
  }